@import "tailwindcss";

.font-playfair {
  font-family: var(--font-playfair);
}

.font-merriweather {
  font-family: var(--font-merriweather);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
